body{
    color: white;
    background-image: url(hatter.png);
    background-color: "#000000";
}

img{
    float: center;
}

table{

    float: center;
    width: 1000px;
    border: 0;
    margin: 5px;
}

td{
    padding: 0px;
    margin: 5px;
}